.articleView {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  border: 2px solid lightgray;
  width: 45%;
  padding: 2rem;
  margin: 8rem 0;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.userdata {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1rem;
}

.userImage {
  width: 4rem;
  height: 4rem;
  border-radius: 1rem;
}

.textdata {
  width: 5rem;
  height: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1rem;
}

.deleteButton {
  width: 3rem;
  height: 2rem;
  font-size: 1rem;
  border: none;
  background-color: lightpink;
  color: white;
  outline: none;
  cursor: pointer;
  border-radius: 4px;
  display: none;
  transition: transform 200ms ease-in;
}

.deleteButton:hover {
  transform: scale(1.05);
}

.deleteButton.deleteOn {
  display: block;
}

.uploadTime {
  color: rgb(146, 142, 142);
  width: 10rem;
}

.title {
  margin-bottom: 1rem;
  word-wrap: break-word;
}

.content {
  word-wrap: break-word;
  margin-bottom: 1rem;
}

.evaluation {
  margin-top: 4rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.likeCount {
  font-size: 1.1rem;
  padding: 0.5rem 0;
  width: 5rem;
  border-bottom: 2px solid rgb(151, 209, 231);
}

.likeCount.on {
  background-color: rgb(223, 241, 248);
  border: 2px solid rgb(151, 209, 231);
  border-radius: 4px;
}

.likeButton {
  width: 5rem;
  height: 3rem;
  border: none;
  outline: none;
  background-color: white;
  cursor: pointer;
  transition: all 200ms ease-in;
}

.likeButton:hover {
  transform: scale(1.05);
}
