.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 8rem 0;
}

.title {
  font-size: 4rem;
  margin-bottom: 2.5rem;
}

.info_box {
  width: 60%;
  height: 40rem;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.top,
.bottom {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
}

.apeach {
  flex-basis: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(246, 188, 184);
  border-radius: 0.5rem 0 0 0;
  transition: transform 150ms ease-in;
}

.muzi {
  flex-basis: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(253, 221, 120);
  transition: transform 150ms ease-in;
}

.con {
  flex-basis: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(193, 220, 151);
  transition: transform 150ms ease-in;
}

.ryan {
  flex-basis: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(162, 201, 230);
  border-radius: 0 0.5rem 0 0;
  transition: transform 150ms ease-in;
}

.tube {
  flex-basis: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(162, 214, 212);
  border-radius: 0 0 0 0.5rem;
  transition: transform 150ms ease-in;
}

.jayg {
  flex-basis: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(211, 191, 166);
  transition: transform 150ms ease-in;
}

.neo {
  flex-basis: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(245, 187, 183);
  transition: transform 150ms ease-in;
}

.frodo {
  flex-basis: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(127, 199, 239);
  border-radius: 0 0 0.5rem 0;
  transition: transform 150ms ease-in;
}

.name {
  color: white;
  font-size: 1.5rem;
}

.char_img {
  width: 8rem;
  height: 9rem;
  margin: 0.6rem 0;
}

.char_img.con {
  width: 7rem;
  height: 7rem;
  margin: 1.55rem 0 1.74rem 0;
}

.name_kor {
  font-size: 1rem;
  font-weight: 600;
}

.description {
  font-size: 0.9rem;
}

.apeach:hover,
.muzi:hover,
.con:hover,
.ryan:hover,
.tube:hover,
.jayg:hover,
.neo:hover,
.frodo:hover {
  transform: scale(1.03);
}

@media screen and (max-width: 74rem) {
  .info_box {
    width: 90%;
  }

  .title {
    font-size: 3rem;
  }
}

@media screen and (max-width: 49rem) {
  .intro {
    margin-top: 6rem;
  }
  .title {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
  }
  .info_box {
    height: 100%;
  }
  .top,
  .bottom {
    height: 100%;
    flex-direction: column;
  }

  .apeach,
  .muzi,
  .con,
  .ryan,
  .tube,
  .jayg,
  .neo,
  .frodo {
    border-radius: 0;
    padding: 1rem 0;
  }

  .apeach:hover,
  .muzi:hover,
  .con:hover,
  .ryan:hover,
  .tube:hover,
  .jayg:hover,
  .neo:hover,
  .frodo:hover {
    transform: none;
  }
}
