@value color_skyBlue,color_pink,color_white,color_Con from '../../common/colors.css';

.quickMenu {
  color: color_white;
  background-color: rgb(151, 209, 231);
  display: flex;
  width: 15rem;
  height: 100%;
  flex-direction: column;
  align-items: center;
}

.member_info {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.image_border {
  width: 9rem;
  height: 9rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  border: 1px solid color_white;
  border-radius: 50%;
  margin-bottom: 1rem;
  background-color: white;
}

.profile_image {
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
}

.profile_name {
  padding-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 600;
}

.myPage_button {
  width: 80%;
  height: 2rem;
  font-size: 1rem;
  font-weight: 600;
  background-color: rgb(235, 235, 235);
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  outline: none;
}

.divider {
  width: 80%;
  height: 1px;
  background-color: white;
}

.list {
  width: 100%;
  padding: 1rem 2.5rem;
}

.item {
  margin: 0.7rem;
  padding: 0.3rem;
  cursor: pointer;
  font-size: 0.8;
}
