.mypage {
  margin: 6rem 2rem;
}

.container {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info {
  border: 2px solid lightgray;
  width: 40rem;
  padding: 2rem;
  background-color: rgb(151, 209, 231);
  border-radius: 1rem;
}

.info_top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.part_image {
  width: 10rem;
  height: 10rem;
  border: 1px solid lightgray;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top_right {
  padding-left: 2rem;
}

.part_name {
  padding-bottom: 0.7rem;
}

.name_title,
.email_title {
  padding-right: 1rem;
  font-weight: 600;
}

.name_input {
  outline: none;
  font-size: 1rem;
  padding-left: 0.2rem;
}

.part_save_button {
  text-align: center;
}

.save_button {
  cursor: pointer;
  width: 4rem;
  height: 2rem;
  font-size: 1rem;
  font-weight: 600;
  border: none;
  outline: none;
  border-radius: 0.5rem;
  background-color: rgb(250, 245, 245);
}

.save_button:hover {
  border: 1px solid rgb(224, 211, 211);
  box-shadow: 0 0 2px 0 lightgray;
}
