.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  position: fixed;
  z-index: 100;
  box-shadow: 0 0 5px 0 lightgray;
}

.logo {
  padding: 1.04rem 0 1.04rem 2rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.image {
  width: 10rem;
}

.list {
  display: flex;
  white-space: nowrap;
}

.item {
  width: 8rem;
  margin: 0.5rem 0;
  font-size: 0.9rem;
  text-align: center;
  border-right: 1px solid lightgray;
  font-weight: 600;
  cursor: pointer;
}

.item.last {
  border: none;
}

.loginButton {
  background-color: transparent;
  border: 2px solid rgb(151, 209, 231);
  border-radius: 4px;
  padding: 0.5rem;
  font-size: 0.8rem;
  font-weight: 600;
  cursor: pointer;
  outline: none;
  white-space: nowrap;
  margin-right: 7rem;
  transition: all 200ms ease;
}

.loginButton:hover {
  background-color: rgb(223, 241, 248);
  opacity: 0.8;
}

.logedin {
  white-space: nowrap;
  display: none;
  margin-right: 1rem;
}

.logoutButton {
  background-color: transparent;
  border: 2px solid rgb(151, 209, 231);
  border-radius: 4px;
  padding: 0.5rem;
  font-size: 0.8rem;
  font-weight: 600;
  cursor: pointer;
  outline: none;
  white-space: nowrap;
  transition: all 200ms ease;
}

.mypage {
  background-color: transparent;
  border: 2px solid rgb(151, 209, 231);
  border-radius: 4px;
  padding: 0.5rem;
  font-size: 0.8rem;
  font-weight: 600;
  cursor: pointer;
  outline: none;
  white-space: nowrap;
  margin-right: 1rem;
  transition: all 200ms ease;
}

.logoutButton:hover {
  background-color: rgb(223, 241, 248);
  opacity: 0.8;
}

.mypage:hover {
  background-color: rgb(223, 241, 248);
  opacity: 0.8;
}

.loginButton.onlogin {
  display: none;
}

.logedin.onlogin {
  display: block;
}

.toggle {
  display: none;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 1.3rem;
  cursor: pointer;
}

@media screen and (max-width: 49rem) {
  .header {
    flex-direction: column;
  }

  .logo {
    padding-left: 1rem;
  }

  .list {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .item {
    border: none;
    padding: 0.35rem 0;
  }

  .buttons {
    width: 100%;
    padding: 2rem 0;
    display: flex;
    justify-content: center;
  }

  .loginButton {
    margin: 0;
  }

  .toggle {
    display: block;
    position: absolute;
    right: 1rem;
    top: 1.2rem;
  }

  .list.off {
    display: none;
  }

  .buttons.off {
    display: none;
  }
}
