@value color_skyBlue,color_pink,color_white from '../../common/colors.css';

.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.2rem 1rem;
  color: color_white;
  background-color: color_skyBlue;
  position: fixed;
  z-index: 100;
}

.logo {
  display: flex;
  align-items: center;
}

.image {
  width: 3rem;
  cursor: pointer;
}

.title {
  margin-left: 0.5rem;
  cursor: pointer;
}

.menu {
  margin-left: 24rem;
}

.list {
  display: flex;
}

.item {
  padding: 0.5rem 2rem;
  font-size: 1.1rem;
  cursor: pointer;
  border-radius: 4px;
  transition: all 100ms ease-in;
}

.item:hover {
  background-color: color_pink;
}
