.itemview {
  background-color: rgb(181, 228, 247);
  width: 58rem;
  height: 47rem;
  margin: auto;
  margin-top: 8rem;
  margin-bottom: 6rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 1.5rem;
}

.image_border {
  height: 100%;
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image_background {
  border-radius: 1rem;
  background-color: white;
  width: 70%;
}

.image {
  width: 100%;
  border-radius: 1.5rem;
}

.description {
  font-size: 1.3rem;
  margin-top: 1.5rem;
}

.info {
  width: 100%;
  height: 100%;
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 2rem 3rem 0;
}

.name {
  padding-bottom: 1rem;
  font-size: 1.3rem;
}

.price {
  font-size: 1.2rem;
}

.top {
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 1rem;
  border-radius: 1.5rem;
  background-color: rgb(203, 238, 253);
  margin-bottom: 1rem;
}

.nameAndPrice {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.bookmark_button {
  width: 4rem;
  height: 4rem;
  margin: 2rem 1rem 0 0;
  outline: none;
  border: 1px solid skyblue;
  background-color: white;
  font-size: 1rem;
  border-radius: 0.7rem;
  cursor: pointer;
}

.bookmark_button.on {
  font-size: 3rem;
  color: yellow;
  border: none;
  background-color: transparent;
  text-align: center;
  line-height: 3rem;
}

.options {
  width: 100%;
  height: 80%;
  background-color: rgb(203, 238, 253);
  border-radius: 1.5rem;
  padding: 2rem 1rem;
}

.option_title {
  font-size: 0.9rem;
}

.option {
  width: 100%;
  margin: 0.6rem 0;
  padding: 0.3rem;
  outline: none;
}

.addItem_border {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 0;
}

.addItem {
  width: 3.2rem;
  height: 2.2rem;
  cursor: pointer;
  background-color: white;
  border: 1px solid skyblue;
  border-radius: 0.3rem;
  font-size: 1rem;
}

.middlePrice {
  font-size: 1rem;
  font-weight: 600;
}

.final {
  margin: 1rem 0;
  height: 9rem;
  font-size: 1rem;
  display: none;
  overflow-y: auto;
}

.final.on {
  display: block;
}

.finalPrice {
  margin-top: 0.5rem;
  font-size: 1rem;
}

.bottom {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 0.5rem;
}

.purchase_button {
  cursor: pointer;
  outline: none;
  width: 10rem;
  height: 4rem;
  margin-top: 1rem;
  font-size: 1.4rem;
  background-color: white;
  border: 1px solid skyblue;
  border-radius: 0.7rem;
  transition: all 300ms ease-in;
}
