.footer {
  background-color: rgb(151, 209, 231);
  text-align: center;
  color: white;
  height: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.copyright {
  margin-bottom: 0.9rem;
}

.contact {
  padding: 0 0.7rem;
}
