.quickMenu {
  position: fixed;
  margin-top: 4.5rem;
  height: 100vh;
}

.title {
  padding: 2rem 0 0 2rem;
}

.container {
  margin: 4.5rem 0 0 15rem;
  display: flex;
  flex-direction: column;
}

.ul {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
.select_list {
  margin: 3rem 0;
}

.select {
  width: 100%;
  padding: 0.5rem 2.5rem;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  border-right: 1px solid lightgray;
  font-size: 1.1rem;
  font-weight: 600;
}

.select.last {
  border: none;
}

.itemlist {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
