.errorPage {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightgreen;
  color: white;
}

.image {
  width: 20rem;
  margin: 13rem 0 5rem 0;
}

.message {
  margin: 0.5rem;
}
