.noticeArticle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
  cursor: pointer;
  height: 4rem;
}

.noticeArticle:hover {
  background-color: rgb(250, 245, 245);
}

.title {
  padding-left: 1rem;
}

.data {
  display: flex;
  border-left: 1px solid lightgray;
  height: 100%;
}

.time {
  width: 6.2rem;
  height: 100%;
  padding: 1.2rem 0;
  text-align: center;
  font-size: 0.9rem;
}

.name {
  width: 6.2rem;
  height: 100%;
  border-left: 1px solid lightgray;
  padding: 1.2rem 0;
  text-align: center;
  font-size: 0.9rem;
}

span {
  padding: 0;
}

@media screen and (max-width: 49rem) {
  .noticeArticle {
    font-size: 0.8rem;
  }

  .time_info {
    font-size: 0.8rem;
  }

  .time {
    width: 5rem;
  }

  .name {
    width: 5rem;
    font-size: 0.8rem;
  }
}
